{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {},
      "node": {
        "extensions": [".native.js"]
      }
    }
  },
  "rules": {
    "no-unused-expressions": 0,
    "no-return-assign": 0,
    "no-param-reassign": 0,
    "import/prefer-default-export": 0,
    "no-nested-ternary": 1,
    "no-underscore-dangle": [1, { "allow": ["_id"] }],
    "no-empty": 0
  },
  "env": {
    "jest": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__webpack_hash__": true,
    "__webpack_chunkname__": true
  }
}
